<p id="notice"><%= notice %></p>







	<div class="main_shirt col-lg-6 col-lg-offset-3">

		<div class="main_image col-lg-6">
	  <%= image_tag(@product.image_url) %>
		</div>



		<div class="col-lg-4 col-lg-offset-1">


		<p class="price"> <%= number_to_currency(@product.price) %> </p>



		<%= form_tag( line_items_path(product_id: @product), method: "post",class: "size", remote: true) do %>
		
		<% if @product.small != 0 %>
		  <%= radio_button_tag(:size, "s", checked = true) %> Small </br>
		<% else %>
			<span style="text-decoration:line-through; padding-left:20px;"> Small</span> </br>
		<% end %>

		<% if @product.medium != 0 %>
		  <%= radio_button_tag(:size, "m") %> Medium </br>
    <% else %>
			<span style="text-decoration:line-through; padding-left:20px;"> Medium</span> </br>
		<% end %>

		<% if @product.large != 0 %>
		  <%= radio_button_tag(:size, "l") %> Large </br>
		<% else %>
			<span style="text-decoration:line-through; padding-left:20px;"> Large</span> </br>
		<% end %>

		<% if @product.xlarge != 0  %>
		  <%= radio_button_tag(:size, "xl") %> X-Large </br>
		<% else %>
			<span style="text-decoration:line-through; padding-left:20px;"> X-Large</span> </br>
		<% end %>


		<p class="chart">View Sizing Chart</p>


		</div>

	<div class="col-lg-12">
		<% if @product.quantity == 0 %>
		  <h3 class="soldout"> Sold Out </h3>
		<% else %>
		  <%= submit_tag("Add to Cart") %>
		<% end %>
	</div>

	<% end %>

	

</div>


